h2{
    text-align: center;
    background-color: rgb(75, 187, 77);
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 60px;
    color: aliceblue;
}
    
.logins{
    background-color: rgb(18, 207, 81);
    margin-top: 35px;
    margin-left: 30%;
    padding-bottom: 17px;
    padding-top: 21px;
    margin-right: 30%;
    border-top-left-radius: 50px;   
    border-bottom-right-radius: 50px;
    text-align: center;
    
}

.login{
    margin-right: 50%px;
    background-color: rgb(119, 121, 125);
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.singup{
    margin-right: 200px;
    margin-right: 100px;
}   
input{
    border-radius: 5px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    background-color: rgb(1, 143, 37);
    border-radius: 6px;
    color: white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
hr{
    margin-bottom: 25px;
}