{% extends "base2.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container text-center">
    <h2>Checkout</h2>
    <div class="breadcrumb__option">
      <a href="{% url 'home' %}">Home</a>
      <span>Checkout</span>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>
          <span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
        </h6>
      </div>
    </div>
    
    <div class="checkout__form">
      <h4>Billing Details</h4>
      <form action="{% url 'order' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="checkout__input">
              <label for="first_name">First Name<span>*</span></label>
              <input type="text" name="first_name" required>
            </div>
            <div class="checkout__input">
              <label for="last_name">Last Name<span>*</span></label>
              <input type="text" name="last_name" required>
            </div>
            <div class="checkout__input">
              <label for="country">Country<span>*</span></label>
              <input type="text" name="country" required>
            </div>
            <div class="checkout__input">
              <label for="address">Address<span>*</span></label>
              <input type="text" placeholder="Street Address" class="checkout__input__add" name="address" required>
              <input type="text" placeholder="Apartment, suite, etc. (optional)" name="local_address">
            </div>
            <div class="checkout__input">
              <label for="city">City<span>*</span></label>
              <input type="text" name="city" required>
            </div>
            <div class="checkout__input">
              <label for="state">State<span>*</span></label>
              <input type="text" name="state" required>
            </div>
            <div class="checkout__input">
              <label for="zip">ZIP<span>*</span></label>
              <input type="text" name="zip" required>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <label for="phone">Phone<span>*</span></label>
                  <input type="tel" name="phone" pattern="^\+?[0-9]*$" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <label for="email">Email<span>*</span></label>
                  <input type="email" name="email" required>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">Products <span>Total</span></div>
              <ul>
                {% for cart in cart %}
                <li>{{ cart.product.name }} <span>${{ cart.product.selling_price }}</span></li>
                {% endfor %}
              </ul>
              <div class="checkout__order__subtotal">Subtotal <span>${{ subtotal }}</span></div>
              <div class="checkout__order__total">Total <span>${{ subtotal }}</span></div>
              <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

              <div class="checkout__input__radio">
                <input type="radio" id="check_payment" name="payment_method" value="check" required>
                <label for="check_payment">Check Payment</label>
              </div>
              <div class="checkout__input__radio">
                <input type="radio" id="paypal" name="payment_method" value="paypal" required>
                <label for="paypal">Paypal</label>
              </div>
              
              <button type="submit" class="site-btn">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->

{% endblock content %}
