{% extends "base2.html" %}
{% load static %}
{% block title %}Fruit & Nut & Gift{% endblock title %}
{% block content %}

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for p in all %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{p.image.url}}">
                            <h5><a href="{% url "shopDetails" p.id %}">{{ p.category }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            {% for p in name %}
                            <li class="active" data-filter="*">{{p.department}}</li>
                            {% endfor %}
                           {% comment %} <li data-filter=".oranges"><a href="" class='text-secondary'>Oranges</a></li>
                            <li data-filter=".fresh-meat"><a href="{% url "meat" %}" class='text-secondary'>Fresh Meat</a></li>
                            <li data-filter=".vegetables"><a href="" class='text-secondary'>Vegetables</a></li>
                            <li data-filter=".fastfood"><a href="" class='text-secondary'>Fastfood</a></li> {% endcomment %}
                            {% for p in Products %}
                                <li data-filter=".{{ cat.name|lower }}"><a href="#" class='text-secondary'>{{ cat.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% if Productss %}
                {% for p in Productss %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{p.image.url}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="{% url "shopDetails" p.id %}">{{p.name}}</a></h6>
                            <h5>${{p.selling_price}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% comment %} <i class="fa-light fa-cart-shopping"></i> {% endcomment %}
                <div class="container text-center">
                    <div>
                        <img src="https://static.vecteezy.com/system/resources/previews/024/124/679/non_2x/empty-shopping-cart-side-view-on-transparent-background-png.png" height="300px" width="300px" alt="">
                        <h3 class='text-center text-danger'>Product not found</h3>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    
    {% endblock content %}
